body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
input,
button,

th,
td,
p {
    margin: 0;
    padding: 0
}

input,
button,
select,
textarea {
    outline: none
}

ul li {
    list-style: none
}

input,
img {
    border: none
}

body {
    font: 14px/1.5em Tahoma, Helvetica, Arial, microsoft yahei, simsun;
}

a img {
    border: none
}

img {
    border: 0px;
}

textarea {
    font-family: "微软雅黑";
}

.font-12{
	font-size: 12px;
}
.font-14{
	font-size: 12px;
}
.font-16 {
    font-size: 14px;
}

.font-18 {
    font-size: 18px;
}

.font-20 {
    font-size: 20px;
}
.font-24 {
    font-size: 24px;
}
.font-26{
	font-size: 26px;
}
.font-36{
	font-size: 36px;
}
.color-3 {
    color: #333;	/* 首页,电影,电视剧的颜色 */
}
.color-6 {
    color: #666;	/* 登录/注册的颜色 */
}
.color-9 {
    color: #3f4d66;
}

/* 页脚开始 */
.color-9 {
    color: #999;
}
.text-center {
    text-align: center;
}
/* 页脚结束 */

